---
import ManagerPage from "../index.astro";
import EditorMain from "./components/EditorMain";
---

<ManagerPage>
    <div slot="manager" class="min-h-full min-w-full overflow-hidden"><EditorMain client:only /></div>
</ManagerPage>
