note_modules
data
dist
build
cred
backend/todos/node_modules/
backend/gateway/node_modules/
backend/auth/node_modules/
backend/manager/node_modules/
backend/commander/node_modules/
backend/controller/node_modules/
