---
import IndexLayout from "../layouts/IndexLayout.astro";
---

<IndexLayout title="Contact Page" description="Contact Page of Config Manager">
    <div class="m-2">
        <slot name="contact">
            <h1>Contact</h1>
        </slot>
    </div>
</IndexLayout>
