---
import IndexLayout from "../layouts/IndexLayout.astro";
import Button from "../components/Button";
---

<IndexLayout title="Home Page" description="Home Page of Config Manager">
    <div class="m-2">
        <h1>ConfigManager for your Configs in use</h1>
        <p>Astro is a new kind of static site builder that delivers lightning-fast performance and embraces the JavaScript ecosystem.</p>
    </div>
</IndexLayout>
