---
import "../layouts/index.css";
---

<html>
    <head>
        <title>Register - ConfigManager</title>
    </head>
    <body>
        <div class="m-2">
            <slot name="register">
                <div class="static">
                    <div class="absolute top-0 bottom-0 left-0 right-0 flex flex-col justify-center items-center">
                        <div class="border border-gray-300 p-10 rounded flex flex-col gap-4">
                            <h1 class="text-xl">Config Manager</h1>
                            <p>Enter your new credentials</p>
                            <div class="flex flex-col w-full h-full gap-2">
                                <div class="flex justify-center"><input type="text" name="email" id="register_email" placeholder="Email address ..." /></div>
                                <div class="flex justify-center">
                                    <input type="password" name="password_a" id="register_password_a" placeholder="Your password ..." />
                                </div>
                                <div class="flex justify-center">
                                    <input type="password" name="password_b" id="register_password_b" placeholder="Repeat new password..." />
                                </div>
                                <div class="flex justify-center">
                                    <a href="/"><button class="px-6 py-1 border border-gray-400 rounded">Cancel</button></a><button
                                        id="registerButton"
                                        class="px-6 py-1 border border-gray-400 rounded">Register</button
                                    >
                                </div>
                                <div><p class="text-sm">you have an account <a class="text-orange-900" href="/register">login HERE!</a></p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </slot>
        </div>
        <script>
            const onlickRegister = async () => {
                const email = (document.getElementById("register_email") as HTMLInputElement)?.value;
                const passwordA = (document.getElementById("register_password_a") as HTMLInputElement)?.value;
                const passwordB = (document.getElementById("register_password_b") as HTMLInputElement)?.value;
                await fetch("/api/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email, passwordA, passwordB }),
                });
                document.cookie = `json=${JSON.stringify({ session: true })}`;
                //get location query;
                const urlParams = new URLSearchParams(window.location.search);
                const href = urlParams.get("href") ?? "/";
                window.location.href = href;
            };
            const loginButton = document.getElementById("registerButton");
            loginButton?.addEventListener("click", onlickRegister);
        </script>
    </body>
</html>
