---
import IndexLayout from "../../layouts/IndexLayout.astro";
---

<IndexLayout title="Guide Page" description="Guide Page of Config Manager">
    <div class="flex flex-col items-stretch my-2 gap-1" slot="sidebar">
        <a href="/guide">Guide Dashboard</a>
        <a class="ms-2" href="/guide/1">1</a>
        <a class="ms-2" href="/guide/2">2</a>
        <a class="ms-2" href="/guide/3">3</a>
    </div>
    <div class="">
        <slot name="guide">
            <div class="text-xl">Guide</div>
            <p>Config Manager Guide</p>
        </slot>
    </div>
</IndexLayout>
